<!-- Contact Start -->
<form id="actualizarForm">
  <input type="hidden" id="idMenuFormActualizar" />
  <div class="container-xxl py-5">
    <div class="container px-lg-5">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div
            class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <h2 class="mt-2 text-primary">Editar Menú</h2>
            <br />

            <h4 id="mostrarIdSeleccionado"></h4>

            <br />
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <form>
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="actualizarTitle"
                      name="title"
                      placeholder="Title's Menu"
                    />
                    <label for="actualizarTitle">Title's Menu</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="actualizarDescriptionMenu"
                      name="descriptionMenu"
                      placeholder="Description's Menu"
                    />
                    <label for="actualizarDescriptionMenu"
                      >Description's Menu</label
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="number"
                      class="form-control"
                      id="actualizarStock"
                      name="stock"
                      placeholder="Stock's Menu"
                    />
                    <label for="actualizarStock">Stock's Menu</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="number"
                      class="form-control"
                      id="actualizarPrice"
                      name="price"
                      step=".01"
                      pattern="^\d*(\.\d{0,2})?$"
                      placeholder="Price's Menu"
                    />
                    <label for="actualizarPrice">Price's Menu</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <select
                      required
                      class="form-select form-select-lg mb-3"
                      aria-label=".form-select-lg example"
                      id="actualizarCategory"
                      name="category"
                    >
                      <option selected disabled value="">
                        Choose category
                      </option>
                    </select>
                    <label for="actualizarCategory">Category's Menu</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="number"
                      class="form-control"
                      id="actualizarEnergy"
                      name="energy"
                      placeholder="Energy's Menu of State"
                    />
                    <label for="actualizarEnergy">Energy's Menu of State</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="number"
                      class="form-control"
                      id="actualizarToxicity"
                      name="toxicity"
                      placeholder="Toxicity's Menu of State"
                    />
                    <label for="actualizarToxicity"
                      >Toxicity's Menu of State</label
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      required
                      type="number"
                      class="form-control"
                      id="actualizarRadiation"
                      name="radiation"
                      placeholder="Radiation's Menu of State"
                    />
                    <label for="actualizarRadiation"
                      >Radiation's Menu of State</label
                    >
                  </div>
                </div>

                <div class="col-12">
                  <div class="multi-select">
                    <label for="actualizarIngredients"
                      ><h5>Menu's ingredients</h5></label
                    >
                    <select
                      id="actualizarIngredients"
                      name="ingredients"
                      multiple
                      data-multi-select-plugin
                    ></select>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">
                    Edit Menu
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Contact End -->

<!-- Requirements to edit menu -->
<div class="container text-center text-md-left">
  <div class="row text-center text-md-left">
    
    <div class="col-md-10 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 font-weight-bold">REGLAS A TENER EN CUENTA A LA HORA DE ACTUALIZAR UN MENU</h5>
      <h6>
        <a href="https://github.com/MateoGarciaG/MetaMenusVerse-Project">
          Para más info: https://github.com/MateoGarciaG/MetaMenusVerse-Project
        </a>
      </h6>
      <p>
        - Todos los menús tienen un nivel de energía caloríca que va variando según el nivel de radiación y toxicidad
      </p>
      <p>
        - La toxicidad aumenta cada día y no puede superar los 30 y no puede ser negativo, si supera los 30 el menú NO ES CONSUMIBLE y el stock se vuelve a 0 debido a que todos los menús de ese tipo ya no serían consumibles
      </p>
      <p>
        - El nivel de energía nunca es superior a 30 y nunca es negativa, si llega a superar las 30 calorías, la energía se convierte en 0, esto quiere decir que el Menú ya no brindaría energía
      </p>
      <p>
        - Si la radiación supera a 100mSv, la toxicidad aumenta 2 veces más rapido, por lo cual el precio disminuye 4$
      </p>
      <p>
        - Si la toxicidad aumenta 2 veces más rapido, la energía disminuye 3 calorías
      </p>
      <p>
        - La "comida chatarra" aumenta 4 calorías en vez de los 2 calorías y si la radiación supera los 100mSv disminuirá en 4 calorías
      </p>
      <p>
        - La "Comida Baby Yoda" aumenta de radiación 10mSv en vez de 5mSv, la toxicidad aumenta 2 veces y el precio aumenta 1.0, si la radiación supera los 100mSv la toxicidad aumentará en 4 y el precio aumenta 3.0
      </p>
      <p>
        - La "Comida Vegana Intergaláctica" cada vez que la radiación aumenta disminuye la toxicidad y el precio solo disminuye 1.0, la toxicidad disminuye 2 veces y no se reduce el precio si la radiación supera los 100mSv
      </p>
    </div>
  </div>

  <hr class="mb-4" />

</div>
