@import "./../../styles/constants.scss";

/** BACKGROUND GIF */
main {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $primary;
  background-image: url("assets/images/main/background_banner.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;

  img {
    object-fit: cover;
    width: 600px !important;
    height: 400px !important;
  }
}
