@import "./../../styles/constants.scss";

/* * Service item container  */
.service-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 2rem;

  width: 100%;
  height: 770px;

  position: relative;
  transform-style: preserve-3d;

  &:hover .service-item {
    transform: perspective(500px) rotateY(180deg);
  }

  &:hover .json-card {
    transform: perspective(500px) rotateY(360deg);
  }
}

/** JSON CARD */
.json-card {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 770px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 2rem 0.25rem rgb(0 0 0 / 15%);
  position: absolute;
  transform-style: preserve-3d;
  transition: 0.6s ease-in-out;
  backface-visibility: hidden;
  transform: perspective(500px) rotateY(180deg);
  > pre {
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 1rem;
    background-color: $code-color;
    color: $white;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #ddd;
    border-left: 8px solid $secondary;
    page-break-inside: avoid;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: left;
    span {
      font-family: "Consolas";
    }
  }
}

/*** Service ***/
.service-item {
  height: 770px;
  width: 90%;
  padding: 30px 25px;
  background: $primary;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  position: absolute !important;
  backface-visibility: hidden !important;
  transition: 0.6s ease-in-out !important;
  transform: perspective(500px) rotateY(0deg);

  p {
    span {
      color: $secondary;
    }
  }
  ul {
    li {
      color: $white;
    }
  }
}

.service-item:hover {
  background: $secondary;
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background: url(../img/icon-shape-primary.png) center center no-repeat;
  transition: 0.5s;
}

.service-icon {
  > img {
    width: 100px;
  }
}

.service-item h5,
.service-item p {
  transition: 0.5s;
  color: $white;
}

.service-item:hover h5,
.service-item:hover p {
  color: $white;
}

.service-item a.btn {
  position: relative;
  display: flex;
  color: $primary;
  transition: 0.5s;
  z-index: 1;
}

.service-item:hover a.btn {
  color: $primary;
}

.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: #dddddd;
  transition: 0.5s;
  z-index: -1;
}

.service-item:hover a.btn::before {
  width: 100%;
  background: $secondary;
}


/** BUTTON CARD */

.card-buttons {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}