<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light" id="navbar">
    <div class="container-fluid">
      <a
        class="navbar-brand d-flex flex-row justify-content-center align-items-center"
        id="navbar__logo"
      >
        <img src="../assets/img/dog_logo.svg" alt="logo" class="" />
        <h2 class="display-4">MetaMenusVerse</h2>
      </a>

      <button
        id="navbar__burguer"
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <i class="bi bi-list"></i>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title display-4" id="offcanvasNavbarLabel">
            Puppy
          </h5>
          <button
            type="button"
            id="navbar__btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
            <a href="#" class="nav-link">Contact</a>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
